.container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  z-index: 5000;
  max-width: 1900px;
  background: #fff;
}

/* .menuIcon {
  display: none;
} */

.auth {
  display: inline-block;
}

.menus {
  display: flex;
  gap: 50px;
  align-items: center;
  cursor: pointer;
}

.menus ul {
  display: flex;
  gap: 50px;
  align-items: center;
  font-weight: 600;
}

@media (max-width: 1040px) {
  .menus,
  .menus ul {
    gap: 30px;
  }
  .menuIcon {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 24px;
    color: var(--primary-regular);
  }
}

@media (max-width: 768px) {
  .auth,
  .menus {
    display: none;
  }
}
