.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth {
  display: inline-block;
}

.menus {
  display: flex;
  gap: 50px;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1040px) {
  .menus {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .auth,
  .menus {
    display: none;
  }
}
