.mobileMenuItemsWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  min-height: 40%;
  overflow: auto;
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 40px;
  background: rgb(255, 255, 255);
}

.linkGroup,
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.links {
  gap: 20px;
}

.links li {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.links li:hover {
  background: var(--dark300);
}

.active {
  background: var(--dark400);
}

.icon {
  font-size: 24px;
  color: var(--primary-regular);
}

.closePanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuList {
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

@media (max-width: 350px) {
  .mobileMenuItemsWrapper {
    padding: 50px 20px;
  }
}
