.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  background: url("../../../public/assets/images/svgs/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.heroSection {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}

.leftSection h1 {
  font-family: "Campton", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  text-align: justify;
  font-weight: 900;
}

.leftSection section {
  display: flex;
  justify-content: space-between;
}

.leftSection section span {
  font-size: 20px;
  padding-top: 10px;
}

.rightSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
